<% include header %>
<div class="container bs-wcy_citybox">
    <div class="bs-wcy_govnoticetitle">关于我们</div>
    <div class="bs-wcy_aboutUs">
        <h3>简介</h3>

        <p>万车游既是注册商标，也是知名的自驾游品牌活动，正在筹划申报上海市名牌产品。如今它又成为集互联网、微信服务号和订阅号、各地政府自驾游线下活动的大型综合平台，提供万车游系列活动及产品订购服务。其拥有丰富的自驾游活动、优惠的自驾休闲度假产品和线路、优秀自驾游目的地推荐等版块，从而为各地旅游管理部门服务、为各地自驾游客服务，促进区域联动和合作，推进产业融合，繁荣和发展自驾游大市场。</p>

        <p>万车游平台在各级旅游管理部门的大力支持下，由长三角自驾游专家委员会、长三角自驾游产业论坛组委会主办，万车游活动运营中心承办，并委托经上海市旅游局批准、具有经营资质，经上海市工商行政管理局登记的上海路骋国际旅行社股份有限公司联合承办，负责相关市场化运营。</p>

        <p>2011年，在上海市松江区人民政府的大力支持下，上海市松江区商务和旅游委员会与长三角自驾游产业论坛组委会共同推出了首届万车游松江大型活动，至今已成功举办四届，为松江吸引自驾游客近百万人次。2012年，在上海市旅游局的指导下，由上海市松江区商务和旅游委员会、上海市青浦区旅游局、上海市金山旅游局、上海市邮政公司与长三角自驾游产业论坛组委会共同推出的首届万车游上海山水画活动，更是掀起了长三角自驾游的新高潮。此后，组委会分别与各地市、区县旅游局合作，推出了万车游青生活、万车游上海动植物、万车游崇明、万车游泰州、万车游扬州、万车游南通、万车游亲水、万车游温泉、万车游游山玩水等一系列大型自驾游活动，树立了万车游的品牌活动形象，其中万车游青生活更是获得了上海购物节组委会颁发的最具创意大奖。</p>

        <p>主办方长三角自驾游专家委员会于2014年3月成立，上海市旅游局副局长沈山州、江苏省旅游局原副巡视员唐建国为专家委员会揭牌。专家委员会由30余家副省级和地市级旅游局、县市区人民政府与主流媒体共同发起成立。由浙江省旅游局巡视员、江苏省旅游局副巡视员、宁波市旅游局巡视员、新华社上海分社副社长担任名誉顾问，长三角三省一市旅游局和上海市人民政府发展研究中心、上海市商务委员会相关部门领导担任首席专家和顾问。</p>

        <p>主办方长三角自驾游产业论坛组委会是一个常设机构，于2011年4月根据解放日报报业集团文件批阅单“044号请示”的批复成立，并根据上海市松江区人民政府“沪松府抄字（2011）第68号”文件，由解放日报报业集团和上海佘山国家旅游度假区管理委员会担任主办单位；上海市松江区商务和旅游委员会、上海路骋旅游发展有限公司担任承办单位，后者负责秘书处工作。此后，为贯彻国家相关规定，政府机构不再担任主办单位，改由组委会自行主办，秘书处继续设立，根据“松商旅（2013）24号”文件，松江商旅委改任特别共建单位。 2011年6月，根据“沪旅函（2011）13号”文件，上海市旅游局担任论坛支持单位，同时，安徽省旅游局以书面文件，江苏省旅游局、浙江省旅游局、新华社上海分社以电话通知形式，决定担任论坛支持单位。近四年来，组委会共收到全国150余家副省级、地市级城市旅游局以及市县区人民政府的书面文件，同意担任组委会共建单位。中央主要媒体新华社、中新社、人民日报、经济日报，以及长三角各主流媒体都是论坛特邀参与报道的新闻单位。2013年，论坛组委会根据上海市虹口区人民政府“虹府办告（2013）68号”文件、上海购物节组委会“沪购物办（2013）3号”文件、上海市虹口区旅游局 “虹旅（2013）7号”文件，设立长三角自驾游产业博览会组委会。</p>

        <p>2014年，长三角自驾游专家委员会、长三角自驾游产业论坛组委会经研究，决定成立优秀自驾游目的地发布中心、万车游活动运营中心、自驾游服务中心管理总部，分别负责历年优秀自驾游目的地发布和新闻发布、万车游平台及活动、自驾游服务中心的管理。专家委员会、论坛组委会及其下属的各中心是非盈利性常设机构，不具法人资格，不进行经营性活动，主要推进自驾游五大平台的建设。有关市场性、经营性的活动，由各相关承办单位（法人）负责，并承担相应的法律和经济责任。</p>

        <p>根据上海市旅游局文件《关于印发〈上海市旅游业2013年工作总结和2014年工作要点〉的通知》（沪旅[2014]1号），长三角自驾游产业论坛、长三角自驾游产业博览会列入上海市旅游局支持活动。</p>

        <h3>联系方式</h3>

        <p class="contact">万车游活动运营中心联系方式</p>

        <p class="contact">地址：上海市闸北区中山北路756号D303室</p>

        <p class="contact">电话：021-56521305-809</p>

        <p class="contact">传真：021-56521305-818</p>
    </div>
</div>
<% include footer %>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
