<div id="footer" class="bs-wcy_footer">
    <div class="container bs-wcy_footerhomewidth">
        <div class="infobox">
            <div class="rightinfo">
                <p class="ptop"><a href="/aboutUs">关于万车游</a>客服电话 400-888-8888</p>

                <p>
                    <span>关注我们</span>
                    <a href="#"><img src="/images/wcy_icoweibo.png" alt="新浪微博"></a>
                    <a href="#"><img src="/images/wcy_icoweixin.png" alt="微信"></a>
                    <a href="#"><img src="/images/wcy_icoten.png" alt="腾讯微博"></a>
                </p>
            </div>
            <div class="leftCopy">
                <p><img src="/images/wcy_logo02.png" alt="万车游Logo"></p>

                <p>©Copyright 2011-2014 万车游 All Rights Reserved. 沪ICP备08026014号</p>
            </div>
        </div>
        <div class="friendlink">
            <div class="title">友情链接</div>
            <p><a href="#">上海旅游</a><a href="#">江苏旅游</a><a href="#">浙江旅游</a><a href="#">安徽旅游</a><a href="#">新华社</a><a
                        href="#">上海松江</a><a href="#">中国自驾游联盟</a><a href="#">解放日报</a><a href="#">新华日报</a><a href="#">万车游山水画</a><a
                        href="#">万车游松江</a><a href="#">万车游青生活</a><a href="#">万车游亲亲水</a><a href="#">万车游温泉</a><a href="#">万车游上海动植物</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>