<div id="footer" class="bs-wcy_footer">
    <div class="container bs-wcy_footerhomewidth">
        <div class="infobox">
            <div class="rightinfo">
                <p>
                    <span>关注我们</span>
                    <a href="#"><img src="/images/wcy_icoweibo.png" alt="新浪微博"></a>
                    <a href="#" id="WXCode"><img src="/images/wcy_icoweixin.png" alt="微信"></a>
                    <a href="#"><img src="/images/wcy_icoten.png" alt="腾讯微博"></a>
                </p>

            </div>
            <div class="leftCopy">
                <p class="ptop"><a href="#">关于万车游</a>客服电话 400-885-3885</p>
            </div>
        </div>
        <div class="friendlink">
            <div class="title">友情链接</div>
            <p>
                <a href="http://www.cnta.gov.cn/" target="_blank">国家旅游局</a>
                <a href="http://lyw.sh.gov.cn/" target="_blank">上海市旅游局</a>
                <a href="http://www.jstour.gov.cn/" target="_blank">江苏省旅游局</a>
                <a href="http://www.tourzj.gov.cn/default.aspx" target="_blank">浙江省旅游局</a>
                <a href="http://www.ahta.com.cn/index.php" target="_blank">安徽省旅游局</a>
                <a href="http://www.scofcom.gov.cn/" target="_blank">上海市商务委员会（上海购物节组委会）</a>
            </p>
            <p>
                <a href="http://www.sh.xinhuanet.com/" target="_blank">新华社上海分社</a>
                <a href="http://csj.xinhuanet.com/" target="_blank">新华社长三角新闻采编中心</a>
                <a href="http://www.songjiang.gov.cn" target="_blank">上海市松江区人民政府</a>
                <a href="http://slw.songjiang.gov.cn/" target="_blank">上海市松江区商务和旅游委员会</a>
                <a href="http://tourism.jingan.gov.cn/" target="_blank">上海市静安区旅游局</a>
            </p>
            <p>
                <a href="http://www.nbtravel.gov.cn/Default.aspx" target="_blank">宁波市旅游局</a>
                <a href="http://whb.news365.com.cn/" target="_blank">文汇报</a>
                <a href="http://www.ctnews.com.cn" target="_blank">中国旅游报</a>
                <a href="http://www.5dtour.com.cn/" target="_blank">旅游时报</a>
                <a href="http://www.dd885.org" target="_blank">长三角自驾游专家委员会</a>
            </p>
        </div>
        <div class="Copyright">©Copyright 2011-2014 万车游 All Rights Reserved. 沪ICP备08026014号</div>
        <div class="weiXinCode"><img src="/images/weixin-getqrcode.png" alt="微信二维码"></div>
    </div>
</div>



<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7f4be4ed3a7f97a4f959908d32b6fb70' type='text/javascript'%3E%3C/script%3E"));
    /* 微信二维码*/
    $(document).ready(function(){
        $("#WXCode").mouseover(function(){
            $(".weiXinCode").show();
        });
        $("#WXCode").mouseout(function(){
            $(".weiXinCode").hide();
        });
    });

</script>
</body>
</html>