
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>万车游 首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen">
    <link href="/css/wcy.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container" style="color: #6a18ff">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
            万车游网正在测试当中，将于5月29日正式上线，届时将联合相关旅游局在静安公园举行举行大型活动，敬请关注！
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1  text-center">
                长三角自驾游专家委员会、长三角自驾游产业论坛组委会官网即日起域名更改为:<a href="http://www.dd885.org" target="_blank">www.dd885.org</a>欢迎登录！
            </div>
        </div>

</div>
<form action="/logout" method="post" id="form_logout"></form>
<div class="bs-wcy-nav">
    <div class="container bs-wcy-headheight bs-wcy_headwidth">

        <div class="row">
            <a class="bs-wcy-logo" href="/"></a>
            <div class="bs-wcy-headword">完善信息，享自驾游专享价！</div>
            <%if(user){%>
            <ul class="bs-wcy_navlist " id="nav_logined" >
                <!--<li><a href="/govNotice">政府公告</a></li>-->
                <li><a href="http://www.dd885.org/" target="_blank">政府公告</a></li>
                <li><a href="javascript:void(0)">您好,<%=user.name?user.name:"自驾游会员"%></a></li>
                <li><a href="/orders">我的订单</a></li>
                <li><a href="/userInfo/<%=user._id%>">个人信息</a></li>
                <li><a href="javascript:void(0)" id="btn_logout">退出</a></li>
            </ul>
            <ul class="bs-wcy_navlist hidden" id="nav_unlogin">
                <li><a href="/govNotice">政府公告</a></li>
                <li><a href="#" data-toggle="modal" data-target=".registerModal">注册</a></li>
                <li><a href="#" data-toggle="modal" data-target=".loginModal">登录</a></li>
            </ul>
            <%} else { %>
            <ul class="bs-wcy_navlist hidden" id="nav_logined" >
                <li><a href="/govNotice">政府公告</a></li>
                <li><a href="javascript:void(0)" id="nav_userName"></a></li>
                <li><a href="/orders" id="nav_myOrder">我的订单</a></li>
                <li><a href="/userInfo" id="nav_userInfo">个人信息</a></li>
                <li><a href="#">退出</a></li>
            </ul>
            <ul class="bs-wcy_navlist" id="nav_unlogin">
                <li><a href="/govNotice">政府公告</a></li>
                <li><a href="#" data-toggle="modal" data-target=".registerModal">注册</a></li>
                <li><a href="#" data-toggle="modal" data-target=".loginModal">登录</a></li>
            </ul>
            <%}%>
        </div>
    </div>
</div>
<% include loginModal %>
<% include register %>
<% include forgetPasswd %>
<% include registerSuccess %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/md5.js"></script>
<script>
    $(function(){
        //手动登录
        $('#form_login').submit(function(event){
            event.preventDefault();
            $.ajax({
                'url':'/login',
                'type':'post',
                'data':{
                    'mobile':$('#l_mobile').val(),
                    'passwd':faultylabs.MD5($('#l_passwd').val()).toLowerCase(),
                    'autoLogin':$('#l_autoLogin').prop('checked')
                }
            }).done(function(data){
                if(data=='success'){
                    window.location.reload();
                } else {
                    $('#l_error').removeClass('hidden');
                }
            });
        });

        //登出
        $('#btn_logout').click(function(){
            $('#form_logout').submit();
        });

        //注册
        $('#form_reg').submit(function(event){
            event.preventDefault();
            if(!/^1\d{10}$/gi.test($('#r_mobile').val())){
                $('#r_error').removeClass('hidden');
                $('#r_errorMsg').text('手机号码格式不符！');
                return;
            } else {
                $('#r_error').addClass('hidden');
                $('#r_errorMsg').text();
            }
            if($('#r_passwd').val()!=$('#r_repasswd').val()){
                $('#r_error').removeClass('hidden');
                $('#r_errorMsg').text('两次输入密码不一致！');
                return;
            } else {
                $('#r_error').addClass('hidden');
                $('#r_errorMsg').text();
            }
            $.ajax({
                'url':'/register',
                'type':'post',
                'data':{
                    'mobile':$('#r_mobile').val(),
                    'passwd':faultylabs.MD5($('#r_passwd').val()).toLowerCase(),
                    'code':$('#r_code').val()
                }
            }).done(function(data){
                if(data=='success'){
                    window.location.reload();
                } else {
                    $('#r_error').removeClass('hidden');
                    $('#r_errorMsg').text(data);
                }
            });
        });

        //忘记密码
        $('#form_forget').submit(function(event){
            event.preventDefault();
            if(!/^1\d{10}$/gi.test($('#f_mobile').val())){
                $('#f_error').removeClass('hidden');
                $('#f_errorMsg').text('手机号码格式不符！');
                return;
            } else {
                $('#f_error').addClass('hidden');
                $('#f_errorMsg').text();
            }
            if($('#f_passwd').val()!=$('#f_repasswd').val()){
                $('#f_error').removeClass('hidden');
                $('#f_errorMsg').text('两次输入密码不一致！');
                return;
            } else {
                $('#f_error').addClass('hidden');
                $('#f_errorMsg').text();
            }
            $.ajax({
                'url':'/forgetPasswd',
                'type':'post',
                'data':{
                    'mobile':$('#f_mobile').val(),
                    'passwd':faultylabs.MD5($('#f_passwd').val()).toLowerCase(),
                    'code':$('#f_code').val()
                }
            }).done(function(data){
                if(data=='success'){
                    $('#f_error').addClass('hidden');
                    window.location.reload();
                } else {
                    $('#f_error').removeClass('hidden');
                    $('#f_errorMsg').text(data);
                }
            });
        });

    });
</script>