<% include header %>
<!-- 老式滚动图 -->
<!--<div class="bs-wcy-banner">-->
    <!--<div class="main_visual">-->
        <!--<div class="main_image">-->
            <!--<ul id="homeBanner">-->

            <!--</ul>-->
            <!--<a href="javascript:;" id="btn_prev"></a>-->
            <!--<a href="javascript:;" id="btn_next"></a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--轮播-->
<div class="bs-wcy-banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="homeBanner" >
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
</div>
<!-- 图片列表  -->
<div class="container bs-wcy-homewidth">
    <div class="bs-wcy-homeSearchBox">
        <div class="bs-wcy-homeSearchCenter">
            <h5>&nbsp;</h5>
            <h1 id="bigCity">象山</h1>
            <!--<h4>西子湖畔</h4>-->
        </div>
        <div class="bs-wcy-homeSearch">
            <form method="get" id="searchForm">
                <input type="text" class="searchInput" value="">
                <input type="hidden" id="cityId" value="">
                <input type="submit" value="" class="searchBt">
            </form>

        </div>
        <div class="bs-wcy-homecitybox">

        </div>
    </div>
    <div class="bs-wcy-hometitle"><img src="images/wcy_hometitle.gif" alt="大家都喜欢的"></div>

    <div class="bs-wcy-homeImgList">
        <ul id="hotProductList">

        </ul>
    </div>

    <div class="bs-wcy-hometitle"><img src="images/wcy_hometitle02.gif" alt="TA们是怎么自驾游的"></div>
    <div class="bs-wcy-homePerList">
        <ul>
            <li class="bs-wcy-homePerbg01">
                <div class="name">省时</div>
                <div class="talk">
                    <p>不用寻找售票处</p>
                    <p>不用费时抢购特价门票</p>
                    <p>万车游长期提供热门景点门票</p>
                    <p>把宝贵的旅游时间还给你</p>
                </div>
            </li>
            <li class="bs-wcy-homePerbg02">
                <div class="name">超值</div>
                <div class="talk">
                    <p>更少的花费</p>
                    <p>却获得更多的享受和体验</p>
                    <p>特价不再需要抢购这里天天有特价</p>
                    <p>我们为你节约每一次的花费</p>
                </div>
            </li>
            <li class="bs-wcy-homePerbg03">
                <div class="name">自由</div>
                <div class="talk">
                    <p>说走就走，玩转一座城市</p>
                    <p>拒绝走马观花，旅游就应该走走停停</p>
                    <p>万车游为你精选TOP旅游城市</p>
                    <p>不错过任何精彩</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<% include footer %>

<script src="js/jquery.touchSlider.js"></script>
<script>
    $(document).ready(function () {
        //加载城市列表
        $.ajax({
            'url':'/ajax/cityBox',
            'type':'get'
        }).done(function(data){
            $('.bs-wcy-homecitybox').html(data);
        });

        //查询跳转
        $('#searchForm').submit(function(){
            var id = $('#cityId').val();
            this.action = '/products/'+id;
        });

//        $(".main_visual").hover(function () {
//            $("#btn_prev,#btn_next").fadeIn()
//        }, function () {
//            $("#btn_prev,#btn_next").fadeOut()
//        });

//        var initSlider = function(){
//            $(".main_image").touchSlider({
//                 flexible : true
//                ,speed: 200
//                ,btn_prev: $("#btn_prev")
//                ,btn_next: $("#btn_next")
//                ,paging: $(".touchslider-nav-item")
//            });
//        };

        /*搜索下拉*/
        $(".searchInput").focus(function () {
            $(".bs-wcy-homecitybox").show();
        }).blur(function(){
                    if(cityClicked){
                        cityClicked=false;
                    }else{
                        $(".bs-wcy-homecitybox").hide();
                    }
                });
        var cityClicked=false;

        $(".bs-wcy-homecitybox").on('click','a',function (e) {
            var city = $(this).text();
            var cityID = $(this).attr('href').replace('#','');
            $('#cityId').val(cityID);
            $(".searchInput").val(city);
            $('#bigCity').text(city);
            $(".bs-wcy-homecitybox").hide();
            refreshHomeBanner(cityID);
            refreshHotProduct(cityID);
            e.preventDefault();
        }).on('mousedown','a',function(e){
                    cityClicked=true;
                });

        //刷新热门产品列表
        var refreshHotProduct = function(city){
            var proudctStr =    '<li>'+
                                   '<a href="/productDetail/__productid__">'+
                                        '<div class="imgbox"><img src="__imageurl__" alt="__imagename__"></div>'+
                                        '<div class="price">￥<span>__price__</span></div>'+
                                        '<div class="name" title="__productname__">__productShortname__</div>'+
                                   '</a>'
                                 '</li>';
            $.ajax({
                 url:'/hotProductListByCity'
                ,data:{cityID:city}
                ,method:"GET"
            }).done(function(data){
                        var hotProductListStr = "";
                        $.each(data.data,function(index,data){

                            hotProductListStr += proudctStr.replace(/__imageurl__/,data.image.url+'!hotProductList')
                                                           .replace(/__imagename__/,data.image.intro)
                                                           .replace(/__price__/,data.price)
                                                           .replace(/__productShortname__/,data.shortName)
                                                           .replace(/__productname__/,data.name)
                                                           .replace(/__productid__/,data._id);
                        });
                        $('#hotProductList').empty().append(hotProductListStr);
                    });
        };

        refreshHotProduct();

//        var refreshHomeBanner = function(city){
//            $.ajax({
//                 url:'/getCityDetail'
//                ,method:"GET"
//                ,data:{city:city}
//            }).done(function(data){
//                        if(!city){
//                            //页面初次加载的时候
//                            $('.searchInput').val(data.data.name);
//                            $('#cityId').val(data.data._id);
//                        }
////                        $('.searchInput').val(data.name);
////                        $('#cityId').val(data._id);
//                        var str = '<li class="touchslider-nav-item"><img src="__imageurl__"></li>';
//                        var imageList = "";
//                        $.each(data.data.image,function(index,data){
//                            imageList += str.replace(/__imageurl__/,data.url+'!HomePageHead');
//                        });
//                        $('#homeBanner').empty().append(imageList);
//                        initSlider();
//                    });
//        };

        var refreshHomeBanner = function(city){
            $.ajax({
                url:'/getCityDetail'
                ,method:"GET"
                ,data:{city:city}
            }).done(function(data){
                        if(!city){
                            //页面初次加载的时候
                            $('.searchInput').val(data.data.name);
                            $('#cityId').val(data.data._id);
                        }
                        var str = '<div class="item __isactive__"><img style="height: 540px" src="__imageurl__"></div>';
                        var imageList = "";
                        $.each(data.data.image,function(index,data){
                            if(index==0){
                                imageList += str.replace(/__imageurl__/,data.wapURL + "!HomePageHead" ).replace(/__isactive__/,"active");
                            }else{
                                imageList += str.replace(/__imageurl__/,data.wapURL + "!HomePageHead" );
                            }
                        });
                        $('#homeBanner').empty().append(imageList);
                    });
        };

        refreshHomeBanner();
    });
</script>




