<% include header %>
<div class="container bs-wcy_citybox">
    <div class="bs-wcy_govnoticetitle">公告详情</div>
    <div class="bs-wcy_noticedetail">
        <h3><%= title %></h3>
        <h5><%= createDate %></h5>
        <p><image src="<%= imageURL %>" style="width: 800px"></image></p>
    </div>
</div>
<% include footer %>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>