<% include header %>
<div class="container bs-wcy_citybox">
    <div class="bs-wcy_govnoticetitle">公告详情</div>
    <div class="bs-wcy_noticedetail">
        <h3><%= news.title %></h3>
        <h5><%= new Date(news.createTime).Format('yyyy年MM月dd日hh:mm:ss') %></h5>

        <p><%- news.content.replace(/\n/g, '<br/>') %></p>
    </div>
</div>
<% include footer %>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>