<!--注册弹出框-->
<!-- /.modal -->
<div class="modal fade registerModal" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog homemodal-dialog">
        <div class="modal-content">
            <div class="modal-header homemodal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title homemodal-title" id="myModalLabel">注册<span class="green">万车游</span></h4>
            </div>
            <div class="modal-body homemodal-body">
                <form role="form" method="post" id="form_reg">
                    <div class="form-group">
                        <input type="phone" class="form-control text" id="r_mobile" name="mobile" placeholder="手机号">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <input type="phone" class="form-control text" id="r_code" name="code" placeholder="手机验证码">
                        </div>
                        <div class="col-md-4">
                            <input type="button" class="btn homemodal-codebt btn-block" id="fsyzm"
                                   onclick="timedCount()" value="发送验证码">
                            <script type="text/javascript">
                                document.getElementById('fsyzm').value = "发送验证码";
                                document.getElementById('fsyzm').removeAttribute("disabled");
                                var Time = 60;
                                var c = Time;
                                var t;
                                var timedCount = function(){
                                    var mobile = document.getElementById('r_mobile').value;
                                    if(/\d{11,11}/.test(mobile) && mobile.length==11){
                                        document.getElementById('fsyzm').value = "请稍等(" + c + ")";
                                        document.getElementById('fsyzm').disabled = "disabled";
                                        if(c==60){getSMSCode('register');}//第一次循环的时候才调获取短信验证码接口
                                        c = c - 1;
                                        t = setTimeout("timedCount()", 1000);
                                        if (c < 0) {
                                            c = Time;
                                            stopCount();
                                            document.getElementById('fsyzm').value = "再次发送验证码";
                                            document.getElementById('fsyzm').removeAttribute("disabled");
                                        }
                                    }else{
                                        $('#r_error').removeClass('hidden');
                                        $('#r_errorMsg').text("手机号码格式错误！");
                                        return;
                                    }
                                };
                                var stopCount = function(){
                                    clearTimeout(t);
                                };
                                //发送验证码
                                var getSMSCode = function(type){
                                    //传入参数为 string:'register | forget '
                                    var mobile = "";
                                    var errorBox,errorMsg;
                                    if(type=="register"){
                                        mobile=document.getElementById('r_mobile').value;
                                        errorBox=$('#r_error');
                                        errorMsg=$('#r_errorMsg');
                                    }else if(type="forget"){
                                        mobile=document.getElementById('f_mobile').value;
                                        errorBox=$('#f_error');
                                        errorMsg=$('#f_errorMsg');
                                    }
                                    $.ajax({
                                        url:"/getVerifyCode"
                                        ,method:"POST"
                                        ,data:{mobile:mobile,type:type}
                                    }).done(function(data){
                                                if(data.error!=0){
                                                    //后台判断的错误信息展示
                                                    errorBox.removeClass('hidden');
                                                    errorMsg.text(data.errorMsg);
                                                    if(type=='register'){
                                                        document.getElementById('fsyzm').value = "发送验证码";
                                                        document.getElementById('fsyzm').removeAttribute("disabled");
                                                        c=60;
                                                        clearTimeout(t);
                                                    }else{
                                                        pwc=60;
                                                        clearTimeout(pwt);
                                                        document.getElementById('pwfsyzm').value = "发送验证码";
                                                        document.getElementById('pwfsyzm').removeAttribute("disabled");
                                                    }
                                                }else{
                                                    //发成功了就隐藏掉
                                                    errorBox.addClass('hidden');
                                                }
                                            }).fail(function(data){
                                                //发失败的报错
                                                errorBox.removeClass('hidden');
                                                errorMsg.text('获取验证码失败！');
                                                document.getElementById('fsyzm').value = "发送验证码";
                                                document.getElementById('fsyzm').removeAttribute("disabled");
                                                if(type=='register'){
                                                    c=60;
                                                    clearTimeout(t);
                                                }else{
                                                    pwc=60;
                                                    clearTimeout(pwt);
                                                }
                                            });
                                };
                            </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text" id="r_passwd" name="passwd" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control text" id="r_repasswd" name="repasswd" placeholder="确认密码">
                    </div>
                    <div class="form-group hidden" id="r_error">
                        <label style="color: #ff0000" id="r_errorMsg"></label>
                    </div>
                    <!-- data-dismiss="modal"
                            data-toggle="modal" data-target=".registerSuccess" -->
                    <button type="submit" class="btn btn-lg btn-block homemodal-submit">注册
                    </button>
                </form>
                <div class="homemodal-logindiv">已是万车游会员
                    <button type="button" class="btn bt" data-dismiss="modal" data-toggle="modal"
                            data-target=".loginModal">登录
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>