<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>万车游 酒店订票页</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<link href="css/wcy.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="bs-wcy-nav">
  <div class="container bs-wcy-headheight bs-wcy_headwidth">
    <div class="row"> <a class="bs-wcy-logo" href="#"></a>
      <div class="bs-wcy-headword">完善信息，享自驾游专享价！</div>
      <ul class="bs-wcy_navlist">
        <li><a href="#">政府公告</a></li>
        <li><a href="#">您好，neo</a></li>
        <li><a href="#">我的订单</a></li>
        <li><a href="#">个人信息</a></li>
        <li><a href="#">退出</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="bs-wcy_htbox container">
  <div class="bs-wcy_htTitle"> <a href="#">首页</a> > <a href="#">杭州</a> > 西湖门票+希尔顿高级客房1晚 </div>
</div>
<div class="bs-wcy_htBanbgcolor">
  <div class="bs-wcy_htBanbg"> 
    <!--大广告图切换位置-->
    <div class="bs-wcy_htBanbox"> 
      <!--大图列表-->
      <div id="slider" class="nivoSlider"> <img src="images/wcy_hotelbanner01.jpg" data-thumb="images/wcy_hotelbanner01_90x60.jpg" alt="西湖" /> <img src="images/wcy_hotelbanner02.jpg" data-thumb="images/wcy_hotelbanner02_90x60.jpg"  alt="西湖" /> <img src="images/wcy_hotelbanner03.jpg" data-thumb="images/wcy_hotelbanner03_90x60.jpg" alt="西湖" /> </div>
      <!--浮层日期信息-->
      <div class="bs-wcy_htBanInfo">
        <div class="hotelname">
          <h1>希尔顿高级客房1晚+西湖单日票+大礼包大礼包大礼包</h1>
        </div>
        <form class="formtab" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="30%" height="50" align="left" valign="middle"><label>入住日期</label></td>
              <td align="left" valign="middle">
              <select name="" class="inputSelect">
                 <option value="1">1.1-3.31有效期 ￥50</option>
                 <option value="2">4.1-7.31有效期 ￥80</option>
              </select></td>
            </tr>
            <tr>
              <td width="30%" height="50" align="left" valign="middle"><label>价格</label></td>
              <td align="left" valign="middle" class="price" id="formprice">￥<span>800</span>起 </td>
            </tr>
            <tr>
              <td height="70" colspan="2" align="left" valign="bottom"><button type="submit" class="btn btn-block bs-wcy_htBanInfosubmit">立即购买</button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 图片列表  -->
<div class="bs-wcy_htbox container">
  <div class="bs-wcy_htimglistbox">
    <div class="bs-wcy_htimglisttitle"><img src="images/wcy_hotelTictitle01.gif" alt="相关商品"></div>
    <ul>
      <li> <a href="#"><img src="images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">800</span>起</span> <span class="info">西湖门票+希尔顿高级客房1晚</span> </a> </li>
      <li> <a href="#"><img src="images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">200</span>起</span> <span class="info">西湖门票+龙井门票联票</span> </a> </li>
      <li> <a href="#"><img src="images/wcy_img01.jpg" alt="西湖门票"></a> <a href="#" class="cityinfo"> <span class="price">￥<span class="pricebig">100</span>起</span> <span class="info">龙井门票</span> </a> </li>
    </ul>
  </div>
</div>
<!--  产品信息 -->
<div class="bs-wcy_htbox container">
  <ul class="nav nav-tabs bs-wcy_htProNav">
    <li class="active"><a href="#">产品简介</a></li>
    <li><a href="#prodetail">产品详情</a></li>
    <li><a href="#ydxz">预定须知</a></li>
  </ul>
  <div class="bs-wcy_htProbox">
    <div class="title"><img src="images/wcy_hotelTictitle02.gif"  alt="产品简介"></div>
    <div class="graybox">
      <p>希尔顿是国际著名的五星级酒店，西湖店开业于2010年，地处优美的西湖风景旁，非常适合自驾游。</p>
      <p>西湖，上海五大古典园林之一，位于嘉定区南翔镇上，风格与苏州的拙政园比较接近。
        以绿竹依依、曲水幽静、建筑典雅、韵昧隽永的楹联诗词以及优美的花石小路等五大特色闻名。
        独到精巧的艺术构思，使古猗园更显出占朴、素雅、清淡、洗练的气韵。 </p>
      <p>本产品包含 <br>
        希尔顿高级大床房1晚 <br>
        西湖门票一张（该门票仅限入住当天使用） <br>
        请在规定的时间内使用。 </p>
    </div>
    <div class="title" id="prodetail"><img src="images/wcy_hotelTictitle03.gif"  alt="产品详情"></div>
    <div class="blackbox">
      <p>酒店名称：希尔顿大酒店</p>
      <p>酒店等级：国际五星级酒店</p>
      <p>酒店地址：浙江省杭州市西湖路1078号 <a href="#">地图</a></p>
      <p>营业时间：7:00~18:00 </p>
    </div>
    <div class="graybox"> <img src="images/wcy_hotelTicket01.jpg" class="imgfloat">
      <p>西湖,现今《世界遗产名录》中少数几个、中国唯一一处湖泊类文化遗产。</p>
      <p>杭州西湖位于浙江省杭州市的西南方，它以其秀丽的湖光山色和众多的名胜古迹而成为闻名中外的旅游胜地并被世人赋予“人间天堂”的美誉。</p>
      <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。</p>
      <img src="images/wcy_hotelTicket02.jpg"> </div>
    <div class="blackbox">
      <p>景点名称：西湖
      <p>景点等级：AAAAA级景区
      <p>景点地址：浙江省杭州市西湖风景名胜区 <a href="#">地图</a>
      <p>营业时间：7:00~18:00 
    </div>
    <div class="graybox"> <img src="images/wcy_hotelTicket03.jpg" class="imgfloat">
      <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。西湖拥有三面云山，一水抱城的自然风光，以“欲把西湖比西子，淡妆浓抹总相宜”的山水秀色，点缀杭州.</p>
      <p>西湖旧称武林水、钱塘湖、西子湖，宋代始称西湖。西湖位于杭州城西，三面环山，东面濒临市区，是一个湖泊型的国家级风景名胜区。</p>
    </div>
    <div class="title" id="ydxz"><img src="images/wcy_hotelTictitle04.gif"  alt="预定须知"></div>
    <div class="YDlist">
      <ul>
        <li>
          <p class="black">兑换规则</p>
          <p>请在有效期内至景区售票处兑换。</p>
        </li>
        <li>
          <p class="black">使用规则</p>
          <p>当天只能购买第二天及以后使用的门票。</p>
        </li>
        <li>
          <p class="black">取消规则</p>
          <p>不能取消</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="footer" class="bs-wcy_footer">
  <div class="container bs-wcy_footerwidth">
    <p class="Copyright">©Copyright 2011-2014 万车游 All Rights Reserved. 沪ICP备08026014号 </p>
    <p class="link"><a href="#">关于万车游</a><a href="#">联系我们</a>客服电话 400-888-8888</p>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.0.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script>  
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script> 
<script type="text/javascript">
			$(document).ready(function() {

				$('#slider').nivoSlider({
					effect : 'fade', //Specify sets like: 'fold,fade,sliceDown'
					slices : 15,
					animSpeed : 200, //Slide transition speed
					pauseTime : 3000,
					startSlide : 0, //Set starting Slide (0 index)
					directionNav : false, //Next & Prev
					directionNavHide : true, //Only show on hover
					controlNav : true, //1,2,3...
					controlNavThumbs : true, //Use thumbnails for Control Nav
					controlNavThumbsFromRel : true, //Use image rel for thumbs
					controlNavThumbsSearch : '.jpg', //Replace this with...
					controlNavThumbsReplace : '_thumb.jpg', //...this in thumb Image src
					keyboardNav : true, //Use left & right arrows
					pauseOnHover : true, //Stop animation while hovering
					manualAdvance : false, //Force manual transitions
					captionOpacity : 0.3, //Universal caption opacity
					beforeChange : function() {
					},
					afterChange : function() {
					},
					slideshowEnd : function() {
					} //Triggers after all slides have been shown
				});
				
				
			});
</script>
</body>
</html>