<%include header%>
<div>
<%console.log(city);%>
    <% city.热门.forEach(function(o){%>
    <label><a href="/wap/products/<%=o._id%>"><%=o.name%></a></label>
    <%}); %>
</div>
<%include footer%>
<script>
    $(document).ready(function () {
    });
</script>