<%include header%>
<div>
    <input type="hidden" id="city" name="city" value="<%= city._id %>"/>
    <form id="productsForm" method="get">
        <input type="submit" />
    </form>
    <label><%= city.name %></label>

    <% for(var i in city.images){ %>
    <img src="<%= city.images[i].url %>" alt="<%= city.images[i].intro %>">
    <% } %>
</div>
<div>
    <ul>
    </ul>
</div>
<%include footer%>
<script>
    $(function () {
        $('#productsForm').submit(function(){
            this.action = '/wap/products/'+$('#city').val();
        });
        $.ajax({
            'url': '/wap/ajax/cityList',
            'data': {'key': 's'},
            'type': 'GET'
        })
        .done(function (data) {
            console.log(data);
        });

        $.ajax({
            'url': '/wap/ajax/hotProduct',
            'data':{'city':$('#city').val()},
            'type': 'GET'
        })
        .done(function (data) {
            console.log(data);
        });
    });
</script>