<%include header%>
<div class="container">
    <form role="form"  name="loginForm" id="loginForm" class="wap-forgetPw">
        <div class="form-group">
            <input type="mobile" name="mobile" id="mobile" class="form-control"  placeholder="手机号">
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="密码">
        </div>
        <div class="form-group hidden" id="f_error">
            <label style="color: #ff0000" id="f_errorMsg"></label>
        </div>
        <div class="wap-loginbox">
            <div class="wap-loginFogerPW"><a href="/wap/forget">忘记密码？</a></div>
            <div class="wap-logincheck"><input type="checkbox" id="autoLogin" checked><span>自动登录</span></div>
        </div>
        <button type="submit" class="btn wap-submitBt btn-block" data-loading-text="登录中...请稍候" id="btnLogin">登录</button>
    </form>
    <div class="wap-already">还没有账号？<a href="/wap/register">注册</a></div>
</div>
<%include footer%>
<script src="/js/md5.js"></script>
<script src="/js/underscore.min.js"></script>
<script>
    $(document).ready(function () {
        //init
        $('#btnLogin').button("reset");
        $('#f_error').addClass('hidden');
        $('#f_errorMsg').text();
        var us = _.noConflict();
        $("#loginForm").submit(function(event){
            event.preventDefault();
            if(us.isEmpty($('#mobile').val())){
                $('#f_error').removeClass('hidden');
                $('#f_errorMsg').text('手机号不能为空!');
                return false;
            }
            if(!/^1\d{10}$/gi.test($('#mobile').val())){
                $('#f_error').removeClass('hidden');
                $('#f_errorMsg').text('手机号码格式不正确!');
                return false;
            }
            if(us.isEmpty($('#password').val())){
                $('#f_error').removeClass('hidden');
                $('#f_errorMsg').text('密码不能为空!');
                return false;
            }
//            if($('#password').val().length<6){
//                $('#f_error').removeClass('hidden');
//                $('#f_errorMsg').text('密码长度必须大于6位数!');
//                return false;
//            }
            $('#f_error').addClass('hidden');
            $('#f_errorMsg').text();
            $('#btnLogin').button("loading");
            $.ajax({
                'url':'/wap/doLogin',
                'type':'post',
                'data':{
                    'mobile':$('#mobile').val().trim(),
                    'passwd':faultylabs.MD5($('#password').val().trim()).toLowerCase(),
                    'autoLogin':$('#autoLogin').prop('checked')
                }
            }).done(function(data){
                if(data=='success'){
                    document.location.href = '/wap/';
                } else {
                    $('#f_error').removeClass('hidden');
                    $('#f_errorMsg').text('用户名或密码不正确!');
                }
                $('#btnLogin').button("reset");
            });
        });
    });
</script>