<% include header %>
    <div class="wcy-goverDetailBox">
        <h3><%= title %></h3>
        <h5><%= createDate %></h5>
        <p style="text-indent: 0"><image src="<%= imageURL %>"></image></p>
    </div>
<% include footer %>