<% include header %>
    <div class="wcy-goverDetailBox">
        <h3><%= title %></h3>
        <h5><%= createDate %></h5>
        <p><image src="<%= imageURL %>" style="width: 800px"></image></p>
    </div>
<% include footer %>