<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 订单详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
<header class="head">
		<h1><a class="leftlink" href="#"></a>订单详情<a class="righthome" href="#"></a></h1>
</header>
<div class="wcy-orderdetail">
	<div class="container">
    		<div class="list">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">订单编号：</td>
                        <td width="65%" align="left" valign="top"><span>1234123</span></td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">下单时间：</td>
                        <td align="left" valign="top">2014-03-18    10:56:18</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">订单状态：</td>
                        <td align="left" valign="top"><span class="wap-green">已预订</span></td>
                      </tr>
                    </table>
      </div>
    		<div class="list">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">名称：</td>
                        <td width="65%" align="left" valign="top">西湖门票</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">类型：</td>
                        <td align="left" valign="top">1.1-1.31有效期单日票</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">数量：</td>
                        <td align="left" valign="top">2</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="top">总价：</td>
                        <td align="left" valign="top"><span class="wap-orange">¥160</span></td>
                </tr>
                    </table>
      </div>
    		<div class="listnoborder">
       		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="35%" height="30" align="left" valign="top">使用人姓名1：</td>
                        <td width="65%" align="left" valign="top">张三</td>
                </tr>
                      <tr>
                        <td height="30" align="left" valign="top">手机号：</td>
                        <td align="left" valign="top">18126472997</td>
                </tr>
              </table>
	  </div>
    </div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">电子凭证</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
        <img src="images/wcy_QRCode.png" data-src="holder.js/170x170" alt="电子凭证"></div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">产品包含</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
                <p>西湖门票一张</p>
        </div>
</div>
<div class="container">
		<div class="wcy-orderdetailTitle">预定须知</div>
</div>
<div class="wcy-orderdetail">
		<div class="container">
        		<p>兑换规则：请在有效期内至景区售票处兑换。</p>
                <p>使用规则：当天只能购买第二天及以后使用的门票。</p>
                <p>取消规则：不能取消。</p>
        </div>
</div>

</div>
<div id="footer" class="wcy-wapfooter">
        <div class="footlogin">
        	<ul class="navlist">
            		<li>您好，neo</li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">个人信息</a></li>
            </ul>
          	完善信息，享自驾游专享价！
        </div>
        <div class="wcy-wap-footerwidth">
            <div class="footerAbout">
            		<div><a href="#">关于万车游</a></div>
                    <div>客服电话 400-888-8888</div>
            </div>
            <p class="Copyright">©2014 万车游 沪ICP备08026014号 </p>
        </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
