<% include header %>
<div class="wcy-prodetail">
    <div class="container">
        <div class="wcy-Prodetailbox">
            <div id="cal"></div>
        </div>
    </div>
</div>
<% include footer %>
<script type="text/javascript" src="/js/wap/jquery.q_calendar.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("aaa");
        var id = "<%=product.id%>";
        var prices = [<%=product.prices%>];
        var time = new Date();
//        time.setTime(<%=product.time%);
//        console.log(time);
        $('#cal').qc({roomQty:prices,nowTime:time});
    });
</script>