<% include header %>
<div class="wcy-prodetail">
    <div class="container">
        <div class="wcy-Prodetailbox">
            <div id="cal"></div>
            <input type="hidden" id="id" value="<%=product.id%>"/>
        </div>
    </div>
</div>
<% include footer %>
<link rel="stylesheet" href="/css/q_calendar.css">
<script src="/js/wap/jquery.q_calendar.js"></script>
<script>
    $(document).ready(function() {
        var prices = [<%=product.prices%>];
        var pTime = new Date();
        pTime.setTime(<%=product.time%>);
//        console.log(time);
        $('#cal').qc({roomQty:prices,nowTime:pTime});
    });
</script>