<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 我的订单</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
<header class="head">
		<div class="home-headlogin"><a href="#">注册</a><a href="#">登录</a></div>
		<div class="home-headlogo"></div>
</header>
        <!--轮播-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">    
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active"><img src="images/wap-item01.jpg" data-src="holder.js/100%x300"></div>
                <div class="item"><img src="images/wap-item02.jpg" data-src="holder.js/100%x300"></div>
                <div class="item"><img src="images/wap-item03.jpg" data-src="holder.js/100%x300"></div>
                <div class="item"><img src="images/wap-item04.jpg" data-src="holder.js/100%x300"></div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
        <!--搜索-->
        	<div class="home-searchbox">
            	    <input type="button" class="search" value="杭州" data-toggle="modal" data-target="#myModal">
                    <input type="button" class="searchBt" value="立即查询">
            </div>
         <!--大家都喜欢的-->
         	<div class="home-title01"></div>
            <div class="container">
              <div class="row">
                <div class="col-xs-6">
                        <div class="listProBox">
                                        <div class="imgbox"><a href="#"><img src="images/wap-cityimg01.jpg"></a></div>
                                        <div class="probox">
                                                <div class="hotelName"><a href="#">杭州西湖自驾游</a></div>
                                                <div class="hotelPrice"><a href="#">￥<span>199</span></a></div>
                                        </div>
                  </div>
                </div>
                            <div class="col-xs-6">
                                    <div class="listProBox">
                                        <div class="imgbox"><a href="#"><img src="images/wap-cityimg01.jpg"></a></div>
                                        <div class="probox">
                                                <div class="hotelName"><a href="#">杭州西湖自驾游</a></div>
                                                <div class="hotelPrice"><a href="#">￥<span>199</span></a></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-xs-6">
                                    <div class="listProBox">
                                        <div class="imgbox"><a href="#"><img src="images/wap-cityimg01.jpg"></a></div>
                                        <div class="probox">
                                                <div class="hotelName"><a href="#">杭州西湖自驾游</a></div>
                                                <div class="hotelPrice"><a href="#">￥<span>199</span></a></div>
                                        </div>
                                    </div>
                            </div>
                <div class="col-xs-6">
                                    <div class="listProBox">
                                        <div class="imgbox"><a href="#"><img src="images/wap-cityimg01.jpg"></a></div>
                                        <div class="probox">
                                                <div class="hotelName"><a href="#">杭州西湖自驾游</a></div>
                                                <div class="hotelPrice"><a href="#">￥<span>199</span></a></div>
                                        </div>
                                    </div>
                </div>
              </div>
            
            </div>
         <!--TA们是怎么自驾游的-->
         	<div class="home-title02"></div>
            <div class="container">
                        <div class="home-list home-listimg01">
                                <div class="title">在路上</div>
                                <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
                        </div>
                        <div class="home-list home-listimg02">
                                <div class="title">西瓜子</div>
                                <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。
            加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
                        </div>
                        <div class="home-list home-listimg03">
                                <div class="title">乐游游</div>
                                <p>春城的冬天，每天都可以感受到阳光明媚，春暖花开。一件长袖，一件外套，足矣。
            加上坐拥的得天独厚的地理位置，这样的日子怎么能不出去旅行呢...</p>
                        </div>
            </div>
</div>

<div id="footer" class="wcy-wapfooter">
        <div class="footlogin">
        	<ul class="navlist">
            		<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
            </ul>
          	完善信息，享自驾游专享价！
        </div>
        <div class="wcy-wap-footerwidth">
            <div class="footerAbout">
            		<div><a href="#">关于万车游</a></div>
                    <div>客服电话 400-888-8888</div>
            </div>
            <p class="Copyright">©2014 万车游 沪ICP备08026014号 </p>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body home-modalBody">
      		<div  id="home-city">
                <div class="home-modalMain">
                        <input type="button" class="home-modalBt btn-block home-modalBtMainRight" data-toggle="collapse"  data-parent="#home-city"  data-target="#hotcity" value="热门">
                 </div>
                 <div class="home-modalSub collapse in" id="hotcity">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="昆山">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="湖州">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="安吉">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="苏州">
                 </div>
                <div class="home-modalMain">
                        <input type="button" class="home-modalBt btn-block home-modalBtMainRight" data-toggle="collapse"  data-parent="#home-city"  data-target="#zhejiang" value="浙江">
                 </div>
                 <div class="home-modalSub collapse" id="zhejiang">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="杭州市">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="宁波">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="温州">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="嘉兴">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="湖州">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="绍兴">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="金华">
                 </div>
                <div class="home-modalMain">
                        <input type="button" class="home-modalBt btn-block home-modalBtMainRight" data-toggle="collapse"  data-parent="#home-city"  data-target="#Shanghai" value="上海">
                 </div>
                 <div class="home-modalSub collapse" id="Shanghai">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="徐汇区">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="长宁区">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="闵行区">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="静安区">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="浦东区">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="宝山区">
                 </div>
                <div class="home-modalMain">
                        <input type="button" class="home-modalBt btn-block home-modalBtMainRight" data-toggle="collapse"  data-parent="#home-city"  data-target="#anhui" value="安徽">
                 </div>
                 <div class="home-modalSub collapse" id="anhui">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="合肥">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="芜湖">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="蚌埠">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="淮南">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="马鞍山">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="铜陵">
                 </div>
                <div class="home-modalMain">
                        <input type="button" class="home-modalBt btn-block home-modalBtMainRight" data-toggle="collapse"  data-parent="#home-city"  data-target="#jiangsu" value="江苏">
                 </div>
                 <div class="home-modalSub collapse" id="jiangsu">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="南京">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="苏州">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="无锡">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="常州">
                        <input type="button" class="home-modalBt btn-block home-modalBtSub"  value="镇江">
                 </div>
             </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>

    </script>
</body>
</html>
