<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 政策公告</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
        <header class="head">
                <h1><a class="leftlink" href="#"></a>公告<a class="righthome" href="#"></a></h1>
        </header>
        <div class="wcy-goverNotice">
        		<ul>
                		<li>
                        		<div class="title">长三角论坛会议闭幕撒的发撒的发发发啊说法阿斯顿发送到富士达范德萨范德萨范德萨发送到发的是发的是发 </div>
                                <div class="date">11:45</div>
                        </li>
                		<li>
                        		<div class="title">长三角论坛会议闭幕</div>
                                <div class="date">5月1日</div>
                        </li>
                		<li>
                        		<div class="title">长三角论坛会议闭幕</div>
                                <div class="date">5月1日</div>
                        </li>
                		<li>
                        		<div class="title">长三角论坛会议闭幕</div>
                                <div class="date">5月1日</div>
                        </li>
                		<li>
                        		<div class="title">万车游车友会创纪录</div>
                                <div class="date">5月1日</div>
                        </li>
                		<li>
                        		<div class="title">万车游成立</div>
                                <div class="date">2013年</div>
                        </li>
                </ul>
        </div>
</div>
<div id="footer" class="wcy-wapfooter">
        <div class="footlogin">
        	<ul class="navlist">
            		<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
            </ul>
          	完善信息，享自驾游专享价！
        </div>
        <div class="wcy-wap-footerwidth">
            <div class="footerAbout">
            		<div><a href="#">关于万车游</a></div>
                    <div>客服电话 400-888-8888</div>
            </div>
            <p class="Copyright">©2014 万车游 沪ICP备08026014号 </p>
        </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
