<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 商品详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
<header class="head">
		<h1><a class="leftlink" href="#"></a>商品详情</h1>
</header>
<div class="wcy-prodetail">
	<div class="container">
    		<div class="wcy-Prodetailbox">
                    <div class="blackbox">
                      <p>景点名称：西湖
                      <p>景点等级：AAAAA级景区
                      <p>景点地址：浙江省杭州市西湖风景名胜区 <a href="#">地图</a>
                      <p>营业时间：7:00~18:00 
                    </div>
                    <div class="graybox">
                    	<img src="images/wcy_hotelTicket01.jpg" class="imgfloat">
                      <p>西湖,现今《世界遗产名录》中少数几个、中国唯一一处湖泊类文化遗产。</p>
                      <p>杭州西湖位于浙江省杭州市的西南方，它以其秀丽的湖光山色和众多的名胜古迹而成为闻名中外的旅游胜地并被世人赋予“人间天堂”的美誉。</p>
                      <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。</p>
                      <img src="images/wcy_hotelTicket02.jpg">
                       <p>西湖,现今《世界遗产名录》中少数几个、中国唯一一处湖泊类文化遗产。</p>
                      <p>杭州西湖位于浙江省杭州市的西南方，它以其秀丽的湖光山色和众多的名胜古迹而成为闻名中外的旅游胜地并被世人赋予“人间天堂”的美誉。</p>
                      <p>宋代大文豪苏东坡曾写道：“天下西湖三十六，就中最好是杭州”。</p>
                       </div>
                      
            </div>
    </div>
</div>
</div>
<div id="footer" class="wcy-wapfooter">
        <div class="footlogin">
        	<ul class="navlist">
            		<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
            </ul>
          	完善信息，享自驾游专享价！
        </div>
        <div class="wcy-wap-footerwidth">
            <div class="footerAbout">
            		<div><a href="#">关于万车游</a></div>
                    <div>客服电话 400-888-8888</div>
            </div>
            <p class="Copyright">©2014 万车游 沪ICP备08026014号 </p>
        </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
