<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>万车游 移动端 详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy-wap.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

<body>
<div id="wrap">
<header class="head">
		<h1><a class="leftlink" href="#"></a>详情</h1>
</header>
<div class="wcy-prodetail">
	<div class="container">
    		<div class="wcy-goverDetail">
            	<div class="wcy-goverDetailBox">
            		  <h3>长三角论坛会议闭幕</h3>
                      <h5>2014年1月24日11:45</h5>
                      <p>16日至17日，由中国浦东干部学院、国家发展和改革委员会地区经济司、江苏省昆山市委、市政府共同举办的高层次、开放性论坛中“浦长三角高层论坛·昆山2010”在昆山举行。</p>
                      <p>作为全国区域经济布局中最有可能和潜力率先成为世界级经济区域的区域，长三角地区的经济一体化发展一直是政府、学界关注的焦点。本次论坛旨在推进长三角地区改革开放和经济社会发展的国家战略，加快经济发展方式转变，实现科学发展、和谐发展、率先发展、一体化发展。</p>
                    <img src="images/wcy_detail01.jpg">
                    <p>论坛开设“长三角经济社会发展的人才战略”、“长三角一体化发展的体制机制建设”、“世界区域经济一体化发展的实践探索”三个分会场，现场，政府官员、中外知名专家学者研讨发言，共议长三角未来的机遇与挑战。会议期间，与会代表还考察了昆山可再生能源基地、人力资源市场、出口加工区等地。</p>
                    <p>中共上海市委副书记、中国浦东干部学院第一副院长殷一璀，中共江苏省委副书记、组织部部长王国生、中共中央组织部干部教育局局长孙学玉、国家发展和改革委员会地区经济司司长范恒山、国家工业和信息化部中小企业司司长王黎明、国务院研究室综合研究司司长陈文玲等出席。此外，还有著名科研机构、高校的专家学者，中国浦东干部学院学员代表，外国驻沪总领事馆官员及有关国家驻华商务机构代表，昆山市工商业界人士等300余人与会。</p>
                    <p>此外，中国干部重要培训基地之一的中国浦东干部学院也于期间在江苏昆山设立长三角研究院，以依托长三角这块中国改革开放的前沿阵地，打造长三角一体化战略中的人才发展战略研究平台。</p>
                </div>
            </div>
    </div>
</div>
</div>
<div id="footer" class="wcy-wapfooter">
        <div class="footlogin">
        	<ul class="navlist">
            		<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
            </ul>
          	完善信息，享自驾游专享价！
        </div>
        <div class="wcy-wap-footerwidth">
            <div class="footerAbout">
            		<div><a href="#">关于万车游</a></div>
                    <div>客服电话 400-888-8888</div>
            </div>
            <p class="Copyright">©2014 万车游 沪ICP备08026014号 </p>
        </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
